@{
    ViewBag.Title = "Index";
}
<div class="container-fluid" id="calculatorDiv">
    <h2 style="color: #0000cd">Calculator </h2>
        <p> Enter the numbers to calculate with : </p>
        <div class="row">
        <div class="col-xs-2">
            <b> Number 1 :</b>
            <input type="number" class="form-control" data-bind="numericValue:number1" min="0" max="9" />
            <b> Number 2 :</b>
            <input type="number" data-bind="numericValue:number2" class="form-control" size="3" width="3" min="0" max="9" />
        </div>
            </div>
        <div class="row">
            <p>
                <div class="col-xs-4">
                    <button type="button" data-bind="click:addClick" class="btn-lg"> + </button>
                    <button type="button" data-bind="click:subtractClick" class="btn-lg"> - </button>
                </div>
            </p>
        </div>
    <div class="row">
        <p>
            <div class="col-xs-4">
                <span><button type="button" data-bind="click:multiplyClick" class="btn-lg"> x </button></span>
                <span><button type="button"data-bind="click:devideClick" class="btn-lg"> ÷ </button></span>
            </div>
        </p>
    </div>
        <div class="row">
            <p>
                <div class="well well-sm">
                    <span style="font-size: medium" class="col-xs=2">  <b>Answer :</b></span>
                    <span  data-bind="text:answerMessage"></span>
                </div>
            </p>
        </div>
    </div>
<script>
    var calculatorViewmodel= function() {
        var self = this;
        self.number1 = ko.observable(0);
        self.number2 = ko.observable(0);
        self.answer = ko.observable(0);
        self.answer.subscribe(function(newValue) {
            self.answerMessage(newValue);
        });
        self.answerMessage = ko.observable("..click on expression button to show answer...");
        self.addClick = function () {
            self.answer(self.number1() + self.number2());
        }
        self.subtractClick = function() {
            self.answer(self.number1() - self.number2());
        }
        self.multiplyClick = function ()  {
            self.answer(self.number1() * self.number2());
        }
        self.devideClick = function() {
            self.answer(self.number1() / self.number2());
        }
    }


    ko.applyBindings(new calculatorViewmodel(), document.getElementById("calculatorDiv"));

  
</script>